html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --green: #0C0;
    --white: #EEE;
    --black: #111111;
    --error: red;
    --meta: cyan;
    --debug: yellow;
}
body, .white-on-black {
    --text: var(--white);
    --back: var(--black);
    --error: red;
    --meta: rgb(50, 163, 255);
    --debug: yellow;
}
.black-on-white {
    --text: var(--black);
    --back: var(--white);
    --error: firebrick;
    --meta: blue;
    --debug: darkgoldenrod;
}
.green-on-black {
    --text: var(--green);
    --back: var(--black);
    --error: red;
    --meta: rgb(50, 163, 255);
    --debug: yellow;
}

body, #themes {
    background-color: #CCC;
}
#output {
    background-color: var(--back);
    overflow-y:scroll;
    height: 96vh;
    margin: 0 auto;
    padding: 2px;
}
#output p {
    margin: 0;
    color: var(--text);
}
#output .error {
    color: var(--error);
}
#output .meta {
    color: var(--meta);
}
#output .debug {
    color: var(--debug);
}
#input {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}
.container {
    margin: 0 auto;
    width: 80%;
    position: relative;
    border: 3px solid var(--black);
}
.flash>.editing::after {
 content: "|";
 font-weight: bolder;
}

#themes {
    border: 3px solid var(--black);
    border-radius: 3px;
    position: absolute;
    top: 10px;
    left: 2%;
    padding: 5px;
}
.theme {
    width: 25px;
    height: 25px;
    border: 3px solid var(--black);
    border-radius: 3px;
    margin: 5px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    background-color: var(--back);
    color: var(--text);
}

.theme:hover {
    border-color: rgb(0, 110, 110);
}



